.form-width {
  width: 50%;
}
.relative{
  position: relative;
}
.create-dollar-price{
  position: absolute;
  left: 27%;
  top:41px;
  font-size: 14px;
  font-weight: 500;
}
.price-input-field{
  width:30%
}
.create-input{
  height: 40px;
  border-radius:12px
}
@media (max-width: 768px) {
  .form-width {
    width: 100%;
  }
  .price-input-field{
    width:60%
  }
  .create-dollar-price{
    left: 50%;
  }
}
